<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="container">
    <h1 class="center"><%= @user.first_name %> <%= @user.last_name %></h1>
    <br />
    <%= image_tag @user.avatar.url(:medium), class: "avatar center" %>
    <br />
    <p class="center"><%= @user.bio %></p>
    <p class="center"><%= @user.location %></p>
    <br />
    </div>
    <br />
    <% if @user.posts.any? %>
      <% @posts.each do |p| %>
      <div class="col s12 m5 l4">
            <%= link_to user_post_path(p.user_id, p) do %>
            <div class="card">
              <div class="card-image">
                <%= image_tag p.picture.url(:original), class: "center" %>
                <span class="card-title"><%= p.title %></span>
              </div>
              <div class="card-content">
                <p><%= p.description %></p>
              </div>
              <div class="card-action center">
                  <% if p.completed == true %> 
                    <i class="material-icons">check_circle</i><br />
                    <label>Completed</label>
                  <% else %>
                    <i class="material-icons center">panorama_fish_eye</i><br />
                    <label>Not Completed</label>
                  <% end %>
              </div>
            </div>
            </a>
            <% end %>
          </div>
      <% end %>
    <% else %>
      <div class="center">
      <h1>No Posts</h1>
      <img src="http://static4.fjcdn.com/comments/Cuteness+has+reached+critical+mass+_03d8c3cf58d9c8493503b303be3ca7a7.png">
      </div>
    <% end %>
  </div>
</div>